@import "tailwindcss";


  
@theme {
    --text-base: 10px; /* now your base text will be smaller 10px */
    --text-base-m: 12px; 
    --text-base-ml: 14px;/* now your base text will be smaller 14px */
 
    --text-high:16px; /* now your base text will be smaller 16px */
    --text-lower:8px; /* now your base text will be smaller 8px */
    --color-profile:#8b8d91;
    --color-sidebar:#4b5563;
  }

  body{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  }
